<div class="container">
  <h1 class="mt-3">Add Note</h1>

  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="mt-2">
      <div class="mt-3">
        <label class="form-label">FirstName</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          name="firstName"
          [(ngModel)]="model.firstName"
        />
      </div>

      <div class="mt-3">
        <label class="form-label">MiddleName</label>
        <input
          type="text"
          id="middleName"
          class="form-control"
          name="middleName"
          [(ngModel)]="model.middleName"
        />
      </div>

      <div class="mt-3">
        <label class="form-label">LastName</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          name="lastName"
          [(ngModel)]="model.lastName"
        />
      </div>

      <div class="mt-3">
        <label class="form-label">Phone Number</label>
        <input
          type="text"
          id="phoneNumber"
          class="form-control"
          name="phoneNumber"
          [(ngModel)]="model.phoneNumber"
        />
      </div>

      <div class="mt-3">
        <label class="form-label">Counrty</label>
        <input
          type="text"
          id="country"
          class="form-control"
          name="country"
          [(ngModel)]="model.country"
        />
      </div>

      <div class="mt-3">
        <label class="form-label">BirthDay</label>
        <input
          type="date"
          id="birthDay"
          class="form-control"
          name="birthDay"
          value="{{ model.birthDay }}"
          [ngModel]="model.birthDay | date : 'dd-MM-yyyy'"
          (ngModelChange)="model.birthDay = $event"
        />
      </div>

      <div class="mt-3">
        <label class="form-label">Organization</label>
        <input
          type="text"
          id="organization"
          class="form-control"
          name="organization"
          [(ngModel)]="model.organization"
        />
      </div>

      <div class="mt-3">
        <label class="form-label">Position</label>
        <input
          type="text"
          id="position"
          class="form-control"
          name="position"
          [(ngModel)]="model.position"
        />
      </div>

      <div class="mt-3">
        <label class="form-label">Other</label>
        <input
          type="text"
          id="other"
          class="form-control"
          name="other"
          [(ngModel)]="model.other"
        />
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>
